<section class="forth-screen">
    <div class="section-header flex-container">
        <div class="section-header-block-left">
            <h2 class="forth-title poppins-regular">Similar Clients</h2>
                <div class="forth-stick"></div>
        </div>
        <div class="section-header-block-right">
            <div class="forth-info nunito-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</div>
            <div class="explore-more nunito-extrabold"><a href="#">explore more</a><i
                    class="fas fa-long-arrow-alt-right"></i></div>
        </div>
    </div>
    <div class="photo-carousel">
        <ul class="photo-pages flex-container">
            <li class="photo-page active prev"></li>
            <li class="photo-page"></li>
            <li class="photo-page"></li>
            <li class="photo-page next"></li>
        </ul>
    </div>
</section>