<section class="forth-screen">
    <div class="section-header flex-container">
        <div class="section-header-block-left">
            <h2 class="forth-title poppins-regular">Similar Clients</h2>
                <div class="forth-stick"></div>
        </div>
        <div class="section-header-block-right">
            <div class="forth-info nunito-regular">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor
                incididunt ut labore et dolore magna aliqua.</div>
            <div class="explore-more nunito-extrabold"><a href="#">explore more</a><i
                    class="fas fa-long-arrow-alt-right"></i></div>
        </div>
    </div>
    <div class="photo-carousel" >
        <div class="photo-block activePhotoBlock" #photoBlock (mousedown)="carouselMouseDown($event)"
        (touchstart)="carouselMouseDown($event)" (mouseup)="carouselMouseUp($event)"
        (touchend)="carouselMouseUp($event)">
                <app-profile-item [itemData] = itemData.landscapeData appResizeElement></app-profile-item>
        </div>

        <div class="photo-block activePhotoBlockMob" #photoBlockMob1 (mousedown)="carouselMouseDown($event)"
        (touchstart)="carouselMouseDown($event)" (mouseup)="carouselMouseUp($event)"
        (touchend)="carouselMouseUp($event)">
                <app-profile-item [itemData] = itemData.portraitData1 appResizeElement></app-profile-item>
        </div><div class="photo-block activePhotoBlockMob" #photoBlockMob2 (mousedown)="carouselMouseDown($event)"
        (touchstart)="carouselMouseDown($event)" (mouseup)="carouselMouseUp($event)"
        (touchend)="carouselMouseUp($event)">
                <app-profile-item [itemData] = itemData.portraitData2 appResizeElement></app-profile-item>
        </div>
        <ul class="photo-pages flex-container">
            <li class="photo-page" [ngClass]="{'active': controlActive[0]}" (click) = photoCarouselAction(0)></li>
            <li class="photo-page" [ngClass]="{'active': controlActive[1]}" (click) = photoCarouselAction(1)></li>
            <li class="photo-page" [ngClass]="{'active': controlActive[2]}" (click) = photoCarouselAction(2)></li>
            <li class="photo-page" [ngClass]="{'active': controlActive[3]}" (click) = photoCarouselAction(3)></li>
        </ul>
    </div>
</section>