$primary-color: #1a1a1d;
$photo-color: #e2e8e8;

.forth-screen {
  padding: 0 11vh;
  margin-bottom: 18.52vh;

  @media screen and (min-width: 1920px) {
    padding: 0 120px;
    margin-bottom: 200px;
  }

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }

  @media screen and (orientation: portrait) {
    margin-bottom: 50px;
  }

  .section-header {
    width: 100%;
    justify-content: space-around;

    @media screen and (orientation: portrait) {
      flex-direction: column;
    }
  }

  .section-header-block-left {
    max-width: 421px;

    @media screen and (orientation: portrait) {
      width: 100%;
    }
  }

  .forth-title {
    font-size: 3.125vw;
    color: $primary-color;
    margin: 0;

    @media screen and (min-width: 1920px) {
      font-size: 60px;
    }

    @media screen and (orientation: portrait) {
      font-size: 24px;
    }
  }

  .forth-stick {
    width: 7.3vw;
    max-width: 140px;
    height: 0.2vh;
    background-color: $primary-color;
    margin-top: 4.5vh;

    @media screen and (min-width: 1920px) {
      //font-size: 60px;
      margin-top: 49px;
    }

    @media screen and (orientation: portrait) {
      margin: 20px 0;
    }
  }

  .section-header-block-right {
    max-width: 567px;

    @media screen and (orientation: portrait) {
      width: 100%;
    }
  }

  .forth-info {
    font-size: 1.5vh;
    line-height: 1.88;
    color: #767679;

    @media screen and (min-width: 1920px) {
      font-size: 16px;
    }

    @media screen and (orientation: portrait) {
      font-size: 14px;
    }
  }

  .explore-more {
    font-size: 1.3vh;
    letter-spacing: 2.8px;
    color: #000000;
    margin-top: 3.9vh;
    text-transform: uppercase;

    @media screen and (min-width: 1920px) {
      font-size: 14px;
      margin-top: 42px;
    }

    a {
      text-decoration: unset;
      color: #000000;
    }

    i {
      margin-left: 22px;
    }
  }

  .photo-carousel {
    width: 100%;

    height: 52vh;
    max-height: 563px;

    position: relative;
    margin-top: 12vh;
    overflow: hidden;

    @media screen and (min-width: 1920px) {
      margin-top: 130px;
      height: 563px;
    }

    @media screen and (orientation: portrait) {
      margin-top: 30px;
    }
  }

  .photo-block {
    //display: grid;
    //width: 100%;
    display: none;
    width: 9999px;
    //grid-template-columns: repeat(4, 1fr);
    transition: margin-left 250ms;

    // @media screen and (orientation: portrait) {
    //   grid-template-columns: repeat(3, 1fr);
    // }
  }

  .activePhotoBlock{
    @media screen and (orientation: landscape) {
      display: block;
    }
  }

  .activePhotoBlockMob{
    @media screen and (orientation: portrait) {
      display: block;
    }
    &:last-of-type{
      margin-top: -4px;
    }
  }

  .photo-pages {
    position: absolute;
    left: 50%;
    //bottom: -70px;
    bottom: 0;
    transform: translateX(-50%);

    // @media screen and (orientation: portrait) {
    //   bottom: -30px;
    // }
  }

  .photo-page {
    background-color: #b4d3d3;
  }
}
