<section class="third-screen flex-container">
    <div class="left-info-block">
        <div class="left-info-content">
            <h2 class="left-title poppins-regular">{{currentPerson.mainInfo.name}} on Press</h2>
            <div class="left-stick"></div>
            <div class="left-article flex-container">
                <div class="article-photo" [style.background-image] = "'url(' + currentPerson.onPress[2] + ')'"><i
                        class="fas fa-play"></i></div>
                <div class="title-date-block">
                    <h3 class="article-title poppins-medium">29 Motivational Quotes For Business And Other Work
                        Environments</h3>
                    <div class="article-date nunito-regular">8 March, 2020</div>
                </div>
            </div>
            <div class="left-article flex-container">
                <div class="article-photo" [style.background-image] = "'url(' + currentPerson.onPress[1] + ')'"><i
                        class="fas fa-play"></i></div>
                <div class="title-date-block">
                    <h3 class="article-title poppins-medium">5 Reasons To Keep Your Beauty Salon<br> Reservation
                    </h3>
                    <div class="article-date nunito-regular">8 March, 2020</div>
                </div>
            </div>
            <div class="more-info nunito-extrabold"><a href="#">explore more</a><i
                    class="fas fa-long-arrow-alt-right"></i></div>
        </div>
    </div>
    <!-- <div class="right-photo"></div> -->
    <div class="right-photo" [style.background-image] = "'url(' + currentPerson.onPress[0] + ')'"></div>
</section>
